.latestnews
{
    margin-top: 51px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
 
.latestnewsheadig span
{
    color: #F28242 !important;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    background-image: url('../../images/Testimonial/d.png');
    display: inline-block;
    padding: 3px 15px;
    background-position: 50%;
    background-repeat: repeat;
    margin-bottom: 15px
}
.latestnewsheadig h1
{
   color:#3A3D88 !important;
   font-weight: 700;
}
.newsblocks
{
    margin-top: 34px !important;
}



/* start swiper style  */
   
   
 